<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="display text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estão abaixo</p>

      <%- include('includes/messages') %>
      
      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Alexandre</td>
            <td>El-moor</td>
            <td>987654321</td>
            <td>alexandree@gmail.com</td>
          </tr>

       </table>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>

